# Core
streamlit==1.37.0
pandas==2.2.2
numpy==1.26.4

# PDF handling
pdfplumber==0.11.0
fpdf==1.7.2

# Charts
matplotlib==3.9.2

# Hugging Face + Transformers
transformers==4.44.0
#torch==2.3.1
requests==2.32.3

# Langflow integration
langflow==1.0.18

